<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/VentanaPrincipal.css'%}">
    <title>Accescode News</title>

</head>


<body>
    <body>
        <div class="container">
            <!--Encabezado-->
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="{% url 'VentanaPrincipal'%}"><img src="{% static 'Media/LOGOTEST.png'%}" width="150px"height="100px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'VentanaPrincipal'%}">Inicio</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Noticias'%}">Noticias</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Sesion'%}">Sesion</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ingresar'%}">Añadir Usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ver'%}">ver</a>
                        </li>
                    </li>
                        
        
                    </ul>
                </div>
            </nav>

            <div class="container">
                <div align="center">
                    <form name="formulario" class="form-register" action="" method="post" onsubmit="return validacion()">
                        {% csrf_token %}
                        <h4>Formulario Registro</h4>
                        <input type="text" class="controls" name="nombre" id="nombre" placeholder="Ingrese su nombre"><br>
                        <input type="password" class="controls" name="contra" id="contra" placeholder="Ingrese su contraseña"><br>
                        <input type="text" class="controls" name="apodo" id="apodo" placeholder="Ingrese un apodo"><br>
                        <input type="email" class="controls" name="email" id="email" placeholder="Ingrese su email"><br>
                        <select id="sex" name="sexo">
                            <option value="">- Selecciona una opción -</option>
                            <option value="1">Hombre</option>
                            <option value="2">Mujer</option>
                            <option value="3">Otro</option>
                          </select>
                        <label for="recordar usuario y contraseña" class="text-info" onClick="alert( 'presionaste recordar, por lo que no se cerrará tu sesion') " ><span>Recordar sesión</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                        <input class="botons" type="submit" value="crear cuenta">
                        <p><a href="#">¿Ya tengo Cuenta?</a></p><br><br>
                    </form><br><br>
                </div>
            </div>                                  
            
    
</body>
</html>